#outlined-basic {
height: 17px;
}
.form-card{
    margin-bottom: 1rem;
    margin-left: 1rem;
}
#search-button{
    height: 34px;
    margin-left: 10px;
    margin-top: 8px;
    background-color: #243075FF;
}
#add-button{
    height: 35px;
    width: 11rem;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #243075FF;
}
.results-box{
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    width: 80rem;
}
#head-table{
    background-color: rgb(183, 83, 83);
}

.add-buttons{
    display: flex;
    gap: 1.2rem;
    margin-top: 2.4rem;
    
}


