#outlined-basic {
height: 17px;
}
.form-card{
    display: flex; 
    align-content: center;
    justify-content: center;
    height: 100%;
}
#search-button{
    height: 45px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #243075FF;
}
.results-box{
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    width: 80rem;
}
#head-table{
    background-color: rgb(183, 83, 83);
}



